<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre"
          [class.is-invalid]="nombreNovalido">
        <small *ngIf="nombreNovalido" class="text-danger">
          Ingrese 5 letras
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">

        <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido"
          [class.is-invalid]="apellidoNovalido">
        <small *ngIf="apellidoNovalido" class="text-danger">
          Ingrese el apellido
        </small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo"
        [class.is-invalid]="correoNovalido">
      <small *ngIf="correoNovalido" class="text-danger">
        Ingrese ingrese un correo valido
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">usuario</label>
    <div class="col">

      <input class="form-control" type="email" placeholder="Nombre de usuario" formControlName="usuario"
        [class.is-invalid]="usuarioNovalido">
      <small *ngIf="usuarioNovalido" class="text-danger">
        Usuario ya existe
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col">
      <input class="form-control" type="password" placeholder="Contraseña" formControlName="pass1"
        [class.is-invalid]="pass1Novalido"
        >
      <!-- <small *ngIf="correoNovalido" class="text-danger">
        Ingrese ingrese un correo valido
      </small> -->
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Confirmar Contraseña</label>
    <div class="col">
      <input class="form-control" type="password" placeholder="Confirmar Contraseña" formControlName="pass2"
        [class.is-invalid]="pass2Novalido"
        >
      <small *ngIf="pass2Novalido" class="text-danger">
        Las contraseñas deben de ser iguales
      </small>
    </div>
  </div>

  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="form-row col ">
      <div class="col">
        <input type="text" class="form-control" placeholder="Distrito" formControlName="distrito"
          [class.is-invalid]="distritoNovalido">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Cuidad" formControlName="cuidad"
          [class.is-invalid]="cuidadNovalido">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col ">

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Pasatiempo</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let item of pasatiempos.controls, let i = index">
            <td>{{ i+1 }}</td>
            <td> <input type="text" class="from-control" [formControlName]="i"> </td>
            <td> <button class="btn btn-danger" type="button" (click)="BorrarPasatiempo(i)"> BORRAR </button> </td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-primary mt-3 mb-3 btn-block " type="button" (click)="agregarPasatiempo()"> + agregar </button>

    </div>
  </div>


  <div class="form-group row">
    <!-- <label class="col-2 col-form-label">&nbsp;</label> -->
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block" >
        Guardar
      </button>
    </div>
  </div>

</form>

<hr>

<pre>
  estado del formulario : {{ forma.valid }}
  <br>
  Status: {{ forma.status }}
</pre>

<pre>
  {{forma.value | json}}
</pre>